.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 150px;
}

/* menu */
.header-container nav ul li {
    margin-left: 55px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 200;
    list-style: none;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__item a {
    font-family: Roboto;
    text-decoration: none;
    letter-spacing: 2px;
}
