:root {
    --bg-dark: #030303;
    --bg-light: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: var(--bg-dark);
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.visiting,
.video,
.tickets,
.contacts {
    background: var(--bg-light);
}

/* logo */
.logo {
    display: flex;
    align-items: flex-start;
    width: 200px;
    height: 33px;
}

.logo .logo__img {
    width: 49px;
    height: 26px;
    margin: 0 25px 0 0;
    background-image: url("../assets/img/logo/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo .logo__txt {
    font-family: Forum;
    font-style: Regular;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 5px;
}